<body class='contrast-red login contrast-background'>
  <div class='middle-container'>
    <div class='middle-row'>
      <div class='middle-wrapper'>
        <div class='login-container-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='text-center'>
                    <img width="121" height="31" src="/assets/logo_lg.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='login-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-4 col-sm-offset-4'>

                  <% flash.each do |name, msg| %>
                  <%= content_tag(:div, msg, class: "alert alert-info") %>
                  <% end %> 
                  
                  <h1 class='text-center title'>Welcome!</h1>

                  <% if user_signed_in? %>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-block' %>
                    <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-block' %>
                 <% else %>
                    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-block' %>
                    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-block' %>
                  <% end %>
                  
                </div> 
              </div>
            </div>
          </div>
          <div class='login-container-footer'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='text-center'>
                      <a href="http://www.cristiancisneros.com">Cristian Cisneros</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   
</body>
